/* Add here all your CSS customizations */

label.required:after {
    content: " *";
    color: red;
}

p.copyright_{
    text-align: center;
}
p.madeBy_{
    text-align: center;
}

.error_{
    color:red;
}

ul.form_error{
    color:red;
}


h2.panel-title {
    display: inline;
}

.dt-center {
    text-align: center;
}